.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: 10px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: hsl(210, 46%, 95%);
    height: 600px;
    font-size: 13px;
}

.main-content {
    display: table;
    width: 100%;
    height: 100%;
}

.content {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    position: relative;
}

.card {
    width: 730px;
    height: 280px;
    margin: auto;
    position: relative;
}

.card-content {
    width: 730px;
    height: 280px;
    background-color: white;
    border-radius: 7px;
    overflow: hidden;
}

.filter-mobile {
    display: none;
}

.photo {
    width: 280px;
    height: 100%;
    float: left;
    background-image: url("../images/drawers.jpg");
    background-size: 340px 300px;
    background-position: left center;
}

.text {
    width: 450px;
    float: left;
    box-sizing: border-box;
    padding: 35px;
    position: relative;
}

h2 {
    color: hsl(217, 19% , 35%);
    margin-top: 0;
    width: 340px;
}

p {
    color: hsl(214, 17%, 51%);
}

#michelle {
    border-radius: 50%;
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

h3 {
    color: hsl(217, 19% , 35%);
    margin: 0;
    font-size: 12px;
}

#date {
    margin: 0;
    font-size: 12px;
}

button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    position: absolute;
    right: 35px;
    bottom: 40px;
}

button:hover {
    background-color: hsl(212, 23%, 69%);
    background-image: url("../images/icon-share-hover.svg");
    cursor: pointer;
}

.button-active {
    background-color: hsl(212, 23%, 69%);
    background-image: url("../images/icon-share-hover.svg");
}

.button-inactive {
    background-image: url("../images/icon-share.svg");
    background-color: hsl(210, 46%, 95%);
}

#social-links {
    width: 250px;
    height: auto;
    background-color: hsl(217, 19% , 35%);
    border-radius: 10px;
    position: absolute;
    bottom: 100px;
    left: 555px;
    float: left;
    display: none;
}

#social-links::before {
    content: '';
	position: absolute;
	width: 0;
	height: 0;
	top: 100%;
	left: calc(50% - 14px);
	border: 14px solid transparent;
	border-bottom: none;
    border-top-color: hsl(217, 19% , 35%);
}

#social-links p {
    color: hsl(212, 23%, 69%);
    letter-spacing: 5px;
    display: block;
    margin: 19px 20px 17px 35px;
    float: left;
}

#social-links ul {
    float: left;
    list-style-type: none;
    padding: 0;
    margin: 15px 0;
}

.icon {
    width: 25px;
    height: 25px;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 15px;
    box-sizing: border-box;
}

.icon a {
    display: block;
    width: 100%;
    height: 100%;
}

.link-fb {
    background-image: url("../images/icon-facebook.svg");
}

.link-fb:hover {
    background-image: url("../images/icon-facebook-hover.svg");
}

.link-twi {
    background-image: url("../images/icon-twitter.svg");
}

.link-twi:hover {
    background-image: url("../images/icon-twitter-hover.svg");
}

.link-pin {
    background-image: url("../images/icon-pinterest.svg");
}

.link-pin:hover {
    background-image: url("../images/icon-pinterest-hover.svg");
}

@media only screen and (max-width: 375px) {
    .card {
        width: 325px;
        height: 500px;
    }
    
    .card-content {
        width: 325px;
        height: 500px;
    }
    
    .photo {
        width: 325px;
        height: 198px;
        float: none;
        background-image: url("../images/drawers.jpg");
        background-size: 350px 280px;
    }
    
    .text {
        width: 100%;
        height: 300px;
        float: none;
        padding: 40px 40px 0 35px;
    }

    h2 {
        width: 255px;
        font-size: 16px;
    }

    p {
        font-size: 13px;
    }

    table {
        margin-top: 35px;
    }

    button {
        bottom: 20px;
    }
    
    #social-links {
        width: 325px;
        border-radius: 0 0 7px 7px;
        bottom: 0px;
        left: 0px;
    }
    
    #social-links::before {
        display: none;
    }
    
    #social-links p {
        margin: 25px 15px 25px 35px;
    }

    .icon {
        margin-right: 10px;
    }
    
    #social-links ul {
        margin: 20px 0;
    }
}